[submodule "docs/resources/modern-cpp-features"]
	path = docs/resources/modern-cpp-features
	url = https://github.com/AnthonyCalandra/modern-cpp-features
[submodule "gscs/cs4118"]
	path = projects/gscs/cs4118
	url = https://github.com/rdnajac/cs4118
[submodule "gscs/cs3157"]
	path = projects/gscs/cs3157
	url = https://github.com/rdnajac/cs3157
[submodule "docs/columbia-os/cs4118"]
	path = docs/columbia-os/cs4118
	url = https://github.com/rdnajac/cs4118
